<h1>Welcome to the Campaign Builder</h1>

<a mat-raised-button class="welcome-buttons" routerLink="/world-lore">  World Lore    </a>
<a mat-raised-button class="welcome-buttons" routerLink="/characters">  Characters    </a>
<a mat-raised-button class="welcome-buttons" routerLink="/items">       Items         </a>
<a mat-raised-button class="welcome-buttons" routerLink="/maps">        Maps          </a>
<a mat-raised-button class="welcome-buttons" routerLink="/monsters">    Monsters      </a>
<a mat-raised-button class="welcome-buttons" routerLink="/encounters">  Encounters    </a>
<a mat-raised-button class="welcome-buttons" routerLink="/players">     Players       </a>
<a mat-raised-button class="welcome-buttons" routerLink="/sessions">    Sessions      </a>
<a mat-raised-button class="welcome-buttons" routerLink="/schedule">    Schedule      </a>