.new-character-form {
    width: 570px;
}

.halved-input {
    width: 106px;
}

.doubled-input {
    width: 424px;
}

.width-input {
    width: 560px;
}

.short-remainder {
    width: 444px;
}

.normal-remainder {
    width: 338px;
}

mat-form-field {
    margin-right: 10px;
}

